body {
  margin: 0;
  padding: 0;
  color: #333333;
  background-color: #fff;
  background-image: url('../images/circle-mess.svg');
  background-attachment: fixed;
}

h1,
h2,
h3 {
  font-family: 'Helvetica Neue', Helvetica, Arial;
}

h2 {
  font-weight: 600;
}

.jumbotron {
  background-color: rgb(255, 255, 255);
  margin: 0;
}

#summary {
  color: #fff;
  background-image: url('../images/random_grey_variations.png');
}

#langAndTech {
  background-color: transparent;
}

#education {
  background-image: url('../images/dark-triangles.png');
  color: white;
}

.softBottomBorder {
  border-bottom: 1px solid #333333;
}

.white-bottom-border {
  border-bottom: 1px solid #fff;
}

hr {
  border-top: 1px dotted #333333;
}

#headshot {
  width: 180px;
  box-shadow: rgba(0, 0, 0, 0.25) 1px 2px 4px 1px;
}

.projectPicture {
  margin-top: 14.5px;
  margin-bottom: 14.5px;
  max-width: 80%;
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.25);
}

.tech-icon {
  width: 48px;
  padding-bottom: 8px;
}

.bottom-spacing {
  margin-bottom: 60px;
}

.icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 200px;
  margin-bottom: 2rem;
}

.margin-top-20 {
  margin-top: 20px;
}

.padding-top-40 {
  padding-top: 40px;
}

.margin-top-274 {
  margin-top: 274px;
}

.vertical-line {
  border-left: 1px dotted #333333;
  margin-left: 50%;
  height: 250px;
  width: 1px;
  z-index: 1;
}

.isHidden {
  display: none;
}

.hoverShadow {
  background-color: #f5f5f5;
  opacity: 0.75;
  position: absolute;
  display: none;
  z-index: 1;
}

.hoverInfo {
  padding-top: 18%;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
